/*      light colors         */
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg); } }

.login-form-page--content {
  display: flex;
  position: relative;
  z-index: 4;
  padding-top: 100px;
  justify-content: center; }
  @media only screen and (max-width: 992px) {
    .login-form-page--content {
      padding-top: 32px; } }
  .login-form-page--content .login-form {
    width: 400px; }
    @media only screen and (max-width: 992px) {
      .login-form-page--content .login-form {
        width: 360px; } }
    .login-form-page--content .login-form .input-container {
      margin-bottom: 18px;
      padding: 16px 16px;
      background-color: white;
      border: 1px solid #d0d4d6;
      display: flex;
      align-items: center;
      justify-content: flex-start; }
    .login-form-page--content .login-form input {
      flex: 1;
      font-size: 18px;
      color: #6d8994;
      border: 0;
      margin-left: 16px; }
      .login-form-page--content .login-form input::placeholder {
        color: #c5c8c9; }
    .login-form-page--content .login-form .icon-container {
      width: 18px;
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .login-form-page--content .login-form .icon-container .input-icon {
        max-height: 18px;
        max-width: 18px; }
        .login-form-page--content .login-form .icon-container .input-icon.eye {
          cursor: pointer; }
    .login-form-page--content .login-form .button-container {
      display: flex;
      justify-content: space-between; }
      .login-form-page--content .login-form .button-container .button {
        width: 48%;
        cursor: pointer;
        color: white;
        padding: 10px;
        border-radius: 3.8px;
        font-size: 18px;
        text-align: center;
        margin: 0; }
    .login-form-page--content .login-form .login-button {
      background-color: #00a550; }
    .login-form-page--content .login-form .signUp-button {
      background-color: #4986c5; }
    .login-form-page--content .login-form .login-rememberme-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px; }
      .login-form-page--content .login-form .login-rememberme-container .wedge-checkbox-container {
        display: flex;
        align-items: center;
        margin-bottom: 0; }
      .login-form-page--content .login-form .login-rememberme-container p,
      .login-form-page--content .login-form .login-rememberme-container span.title {
        font-size: 14px;
        color: #6d8994;
        margin: 0;
        line-height: 25px; }
    .login-form-page--content .login-form .alert {
      padding: 16px;
      border-radius: 0.25rem;
      margin-bottom: 24px; }
      .login-form-page--content .login-form .alert-danger {
        background-color: #f2dede;
        border: 1px solid #a94442;
        color: #a94442; }
      .login-form-page--content .login-form .alert-warning {
        background-color: #faebcc;
        border: 1px solid #ffbc67;
        color: #8a6d3b; }
    .login-form-page--content .login-form span.sign {
      font-size: 16px;
      line-height: 60px;
      margin: 6px; }
      .login-form-page--content .login-form span.sign-link {
        color: #00a550;
        cursor: pointer; }

.login-form-page--footer {
  z-index: 1;
  position: fixed;
  bottom: 0; }
  .login-form-page--footer .footer--image {
    background-color: #f9f9f9;
    width: 100%;
    object-fit: contain; }
    @media only screen and (max-width: 992px) {
      .login-form-page--footer .footer--image {
        width: unset;
        max-height: 50vh; } }
