@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/proxima-nova-regular/proxima-nova-regular.woff')
			format('woff'),
		url('../fonts/proxima-nova-regular/proxima-nova-regular.ttf')
			format('truetype');
	font-weight: 900;
	font-style: normal;
}
