/*      light colors         */
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg); } }

.login-page {
  position: relative;
  background-color: #f9f9f9;
  min-height: 100vh; }
  .login-page .button-container {
    display: flex;
    justify-content: space-between; }
    .login-page .button-container .button {
      width: 48%;
      cursor: pointer;
      color: white;
      padding: 10px;
      border-radius: 3.8px;
      font-size: 18px;
      text-align: center;
      margin: 0; }
  .login-page .title {
    margin: 0 0 40px 0; }
    .login-page .title p {
      font-size: 26px;
      color: #6d8994;
      font-weight: 500;
      margin-bottom: 0px; }
  .login-page--content {
    display: flex;
    position: relative;
    z-index: 4;
    padding-top: 100px;
    justify-content: center; }
    @media only screen and (max-width: 992px) {
      .login-page--content {
        padding-top: 32px; } }
    .login-page--content .title {
      font-size: 26px;
      color: #6d8994;
      margin: 0 0 24px 0; }
    .login-page--content .login-form {
      width: 400px; }
      @media only screen and (max-width: 992px) {
        .login-page--content .login-form {
          width: 360px; } }
      .login-page--content .login-form .input-container {
        margin-bottom: 24px;
        padding: 16px 16px;
        background-color: white;
        border: 1px solid #d0d4d6;
        display: flex;
        align-items: center;
        justify-content: flex-start; }
      .login-page--content .login-form input {
        flex: 1;
        font-size: 18px;
        color: #6d8994;
        border: 0;
        margin-left: 16px; }
        .login-page--content .login-form input::placeholder {
          color: #c5c8c9; }
      .login-page--content .login-form .icon-container {
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .login-page--content .login-form .icon-container .input-icon {
          max-height: 18px;
          max-width: 18px; }
      .login-page--content .login-form .login-button {
        cursor: pointer;
        color: white;
        padding: 16px;
        background-color: #4986c5;
        border-radius: 3.8px;
        font-size: 18px;
        text-align: center;
        margin: 0;
        width: 100%; }
      .login-page--content .login-form .login-button {
        background-color: #00a550; }
      .login-page--content .login-form .signUp-button {
        background-color: #4986c5; }
      .login-page--content .login-form .alert-danger {
        background-color: #f2dede;
        border: 1px solid #a94442;
        color: #a94442;
        padding: 16px;
        border-radius: 0.25rem;
        margin-bottom: 24px; }
