/*      light colors         */
.flex-row, .centered-row, .user__navbar .main-panel .navbar-brand, .user__navbar .main-panel .navbar-nav {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

.flex-column-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.centered-row, .user__navbar .main-panel .navbar-brand, .user__navbar .main-panel .navbar-nav {
  align-items: center; }

.stretch {
  flex: 1;
  justify-content: space-between; }

.baseline {
  align-items: baseline; }

.center {
  align-items: center; }

.space-left {
  margin-left: 16px; }

.space-above {
  margin-top: 16px; }

.space-above-8 {
  margin-top: 8px; }

.capitalize {
  text-transform: capitalize; }

.component-coming-soon.hidden {
  visibility: collapse; }

.table-item {
  background-color: white;
  border-radius: 4px;
  border: 0.5px solid #ebebeb;
  padding: 24px;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center; }
  @media only screen and (max-width: 992px) {
    .table-item {
      flex-direction: column;
      justify-content: space-between;
      padding: 16px; } }

.coming-soon {
  display: flex;
  justify-content: center;
  min-height: 75vh; }
  .coming-soon img {
    width: 512px; }
    @media only screen and (max-width: 992px) {
      .coming-soon img {
        width: 320px; } }

.component-coming-soon {
  opacity: 0.33 !important; }
  .component-coming-soon * {
    pointer-events: none; }

@keyframes slideLeftAndRight {
  0% {
    transform: translateX(0); }
  25% {
    transform: translateX(-20px); }
  50% {
    transform: translateX(0); }
  75% {
    transform: translateX(20px); }
  100% {
    transform: translateX(0); } }

@keyframes flickerAnimation {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.25; }
  100% {
    opacity: 1; } }

.animate-flicker {
  animation-duration: 1.5s;
  animation-name: flickerAnimation;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in-out; }

.slow-shake {
  animation-duration: 1.5s;
  animation-name: slideLeftAndRight;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in-out; }

.user-wrapper.wrapper {
  background-color: #f9f9f9; }

.user__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px; }
  .user__navbar .logo {
    display: flex;
    align-items: center;
    padding-left: 64px;
    width: 320px;
    height: 100%; }
    .user__navbar .logo__normal {
      display: flex;
      justify-content: center; }
    .user__navbar .logo img {
      width: 124px; }
  .user__navbar .main-panel {
    height: 100%;
    background-color: #f9f9f9;
    margin-right: 60px;
    flex: 1; }
    .user__navbar .main-panel .container {
      padding-left: 0;
      padding-right: 0; }
    .user__navbar .main-panel-content {
      height: 100%;
      display: flex;
      align-items: center; }
    .user__navbar .main-panel .navbar-brand {
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      -ms-transition: all 0.2s;
      transition: all 0.2s;
      color: #6d8994;
      font-size: 22px;
      padding: 0 24px;
      height: 100%;
      cursor: pointer;
      margin: 0;
      border-bottom: 3px solid transparent; }
      .user__navbar .main-panel .navbar-brand.active, .user__navbar .main-panel .navbar-brand:hover {
        border-bottom: 3px solid #4986c5; }
    .user__navbar .main-panel .navbar-nav {
      height: 100%; }
    .user__navbar .main-panel .navbar-item a {
      padding: 0 34px;
      margin: 0;
      border-right: 1px solid #e2eaed; }
    .user__navbar .main-panel .navbar-item.last a {
      border-right: 1px solid transparent !important; }
    .user__navbar .main-panel .navbar-item .dropdown-toggle {
      display: flex;
      flex-direction: row;
      padding: 6px 12px;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      user-select: none;
      border: 0px solid transparent;
      border-radius: 0px;
      background-color: transparent;
      margin: 0; }
      .user__navbar .main-panel .navbar-item .dropdown-toggle .caret {
        visibility: hidden; }
    .user__navbar .main-panel .navbar-search {
      height: 26px;
      width: 26px; }
    .user__navbar .main-panel .navbar-notification {
      height: 30px;
      width: 24px; }
    .user__navbar .main-panel .navbar-user {
      height: 28px;
      width: 28px; }
    .user__navbar .main-panel .nav-profile {
      align-items: center; }
      .user__navbar .main-panel .nav-profile p {
        font-size: 14px;
        color: #6d8994; }
      .user__navbar .main-panel .nav-profile i {
        margin-left: 7px;
        color: #6d8994;
        font-size: 24px; }
    .user__navbar .main-panel .navbar-default {
      background-color: #f9f9f9;
      border-bottom: 1px solid rgba(191, 191, 191, 0.4); }

.list-group-item.selected {
  background: #bfbfbf; }
