.user {
	display: flex;
	flex-direction: row;
	align-content: space-between;
	flex-wrap: wrap;
	width: 80%;
	max-width: 80%;
	margin: 32px auto;

	&-error-container {
		margin-top: 16px;
		display: flex;
		justify-content: center;
	}
	&::after {
		content: '';
		max-height: 1px;
		width: 764px;
	}

}

.refresh-button {
	position: fixed;
	bottom: 8px;
	right: 8px;
}

.wrapper{
	position: relative;

}
.cityList{
	position: absolute;
	padding: 20px;
	top: 100px;
	left: 100px;
	background: white;
	border-radius: 10px;

	li{
		cursor: pointer;
	}
}
.map{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #eee;
}
.search{
	padding: 10px;
}
.search input{
	width: 100%;
	height: 40px;
	font-size: 24px;
}        